.card :global{
  margin-bottom: 20px;
  width: 350px;
  border-radius: 20px;
  padding: 20px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  margin: 0 auto 80px auto;
  text-align: left; 

  .name-and-date {
    border-bottom: solid 1px #000;
    padding-bottom: 6px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 0 20px 0;

    .name {
      margin: 0;
    }

    .date {
      font-style: italic;
      font-size: 14px;
      font-family: Arial, Helvetica, sans-serif;
    }
  }
  
  .definition,
  .sentence {
    margin-bottom: 20px;
    line-height: 22px;
  }
  
  .sentence {
    font-style: italic;
    color: #585453;
  }

  .image-container {
    text-align: center;
  }
}

.card:global.saved {
  box-shadow: rgb(87 255 0 / 30%) 0px 1px 2px 0px, 
              rgb(0 163 7 / 15%) 0px 2px 6px 2px;

  .name-and-date {
    border-bottom: solid 1px #0fd800;
  }
}

.card:global:last-child {
  margin-bottom: 40px;
}